.table-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#14532d, #052e16);
}

.table {
  width: 700px;
  height: 450px;
  background: radial-gradient(#166534, #052e16);
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 40px rgba(0,0,0,0.8);
  border: 6px solid #92400e;
}

/* Seats */
.seat {
  position: absolute;
  width: 100px;
  height: 50px;
  background: #1f2933;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
  border: 2px solid #facc15;
}

/* Seat Positions */
.top { top: -70px; left: 50%; transform: translateX(-50%); }

.top-right { top: 20px; right: -60px; }

.right { top: 50%; right: -120px; transform: translateY(-50%); }

.bottom-right { bottom: 20px; right: -60px; }

.bottom { bottom: -70px; left: 50%; transform: translateX(-50%); }

.bottom-left { bottom: 20px; left: -60px; }

.left { top: 50%; left: -120px; transform: translateY(-50%); }

.top-left { top: 20px; left: -60px; }

/* Center Area */
.center-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
}

.deck,
.discard {
  width: 80px;
  height: 120px;
  background: #1e293b;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
